.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.avatar-group-item {
  border-radius: 50%;
  object-fit: cover;
  margin-right: -15px;
}
